[submodule "Chang_Liu"]
	path = Chang_Liu
	url = https://github.com/cliu2016/chang_liu_cclab.git
[submodule "Misung_Kim"]
	path = Misung_Kim
	url = https://github.com/lisams90/misung_kim_cclab.git
[submodule "Jungsoo_Park"]
	path = Jungsoo_Park
	url = https://github.com/jungsooxpark1/jungsoo_park_cclab.git
[submodule "Rosa_Huang"]
	path = Rosa_Huang
	url = https://github.com/rosahuang124/rosa_huang_cclab.git
[submodule "Leah_Takele"]
	path = Leah_Takele
	url = https://github.com/leahtakele/leah_takele_cclab.git
[submodule "Lin_Sun"]
	path = Lin_Sun
	url = https://github.com/arlenesun/lin_sun_cclab.git
[submodule "Tuba_Ozkan"]
	path = Tuba_Ozkan
	url = https://github.com/ozkat506/tuba_ozkan_cclab.git
[submodule "Seung_Woo"]
	path = Seung_Woo
	url = https://github.com/lowe1711/seung_woo_cclab.git
[submodule "Toto_Lulin"]
	path = Toto_Lulin
	url = https://github.com/poolpeau/toto_lulin_cclab.git
[submodule "Ying_Jiang"]
	path = Ying_Jiang
	url = https://github.com/mitiaokk/ying_jiang_cclab.git
[submodule "Madison_Dailey"]
	path = Madison_Dailey
	url = https://github.com/Ciaomadison/madison_dailey_cclab.git
